.compare {

}

.tabs {
	margin-bottom: 50px;

	.btn {
		width: 50%;
		font-weight: bold;
		background: $grey;
		color: #000;

		&.active {
			background: $primary;
			color: white;
		}
	}
}

.date-range {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.date-select {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}


input[type="date"] {
	color: $primary;
	background: $grey;
	border: none;
	padding: 10px;
	outline: none;

}

label {
	background: $primary;
	color: white;
	font-weight: bold;
	padding: 5px;
}

.compare-graph {
	position: relative;
	max-width: 900px;
	margin: auto;
}

.embed-wrapper {
	display: inline-block;
}

.embed-url {
	position: absolute;
	z-index: 90;
	top: calc(100% + 20px);
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid $dark;
	padding: 20px;
	background: white;

	&:before {
		content: '';
		position: absolute;
		top: -20px;
		left: 50%;
		margin-left: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 20px 15px;
		border-color: transparent transparent $dark transparent;

	}

	&:after {
		content: '';
		position: absolute;
		top: -18px;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 13px 18px 13px;
		border-color: transparent transparent white transparent;

	}
}