@import '_mixins.scss';

$primary: #01A7C2;
$secondary: #007090;

$dark: #00748F;

$grey: #f9f9f9;
$border: #dedede;

$bp-sm: 320px;
$bp-md: 768px;
$bp-lg: 1024px;

$breakpoints: (
	'sm': $bp-sm,
	'md': $bp-md,
	'lg': $bp-lg
);